<div class="event">
    <div class="content">
        <div class="summary">
            <%= message.user.username.capitalize! %><%= " : "%><%= message.message.capitalize! %>
        </div>
    </div>
</div>